/myenv
assets/Thor-Assets
/wandb
/wandb
/assets/ThorAssets
/assets/Prefabs

# temp files
/tmp*

# output files
/output*
/output_articulate*

/test
/grippers/__pycache__
/assets/objects


# artifact files
*.json
*.xml
*.png
*.obj
*.mtl
*.pyc