absl-py==2.3.0
ackermann-msgs==2.0.2
action-msgs==1.2.1
actuator-msgs==0.0.1
ament-cmake-test==1.3.10
ament-copyright==0.12.11
ament-index-python==1.4.0
ament-lint==0.12.11
ament-package==0.14.0
angles==1.15.0
anyio==4.9.0
apptools==5.3.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
autolab-core==1.1.1
autolab-perception==1.0.0
builtin-interfaces==1.2.1
certifi==2025.6.15
charset-normalizer==3.4.2
colorlog==6.9.0
composition-interfaces==1.2.1
configobj==5.0.9
contourpy==1.3.2
control-msgs==4.6.0
controller-manager==2.43.1
controller-manager-msgs==2.43.1
cvxopt==1.3.2
cycler==0.12.1
Cython==3.1.2
decorator==5.2.1
dill==0.4.0
domain-coordinator==0.10.0
embreex==2.17.7.post6
envisage==7.0.4
exceptiongroup==1.3.0
executing==2.2.0
ffmpeg-python==0.2.0
flatbuffers==25.2.10
fonttools==4.58.4
future==1.0.0
gast==0.6.0
gazebo-msgs==3.7.0
generate-parameter-library-py==0.3.8
geometry-msgs==4.2.4
google-pasta==0.2.0
gps-msgs==2.0.4
grpcio==1.73.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
iniconfig==2.1.0
ipython==8.37.0
jedi==0.19.2
joblib==1.5.1
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keras==3.10.0
kiwisolver==1.4.8
launch==1.0.6
launch-ros==0.19.7
lazy_loader==0.4
libclang==18.1.1
lifecycle-msgs==1.2.1
lxml==5.4.0
manifold3d==3.1.1
mapbox_earcut==1.0.3
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mayavi==4.8.3
mdurl==0.1.2
message-filters==4.3.5
ml_dtypes==0.5.1
multiprocess==0.70.18
namex==0.1.0
nav-msgs==4.2.4
networkx==3.4.2
numpy==1.26.4
opt_einsum==3.4.0
optree==0.16.0
osrf-pycommon==2.0.2
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
pluggy==1.6.0
prompt_toolkit==3.0.51
protobuf==5.29.5
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.29
tqdm==4.66.1
pycollada==0.9
pyface==8.0.0
pyglet==1.5.31
Pygments==2.19.1
-e git+https://github.com/cnr-isti-vclab/PyMeshLab.git@79959b61ba6f494cbc2125808b16d8e3dc114b53#egg=pymeshlab
PyOpenGL==3.1.9
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
pyserial==3.5
PySide2==5.15.2.1
pytest==8.4.0
python-dateutil==2.9.0.post0
python-fcl==0.7.0.8
python-qt-binding==1.1.2
rcl-interfaces==1.2.1
rclpy==3.3.14
rcutils==5.1.6
referencing==0.36.2
requests==2.32.4
rich==14.0.0
rmw-dds-common==1.6.0
ros-gz-interfaces==0.244.15
ros2cli==0.18.11
ros2controlcli==2.43.1
ros2node==0.18.11
ros2param==0.18.11
ros2pkg==0.18.11
ros2run==0.18.11
ros2service==0.18.11
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rpds-py==0.25.1
rpyutils==0.2.1
rtree==1.4.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
scripts==3.7.0
sensor-msgs==4.2.4
setproctitle==1.3.6
shapely==2.1.1
shiboken2==5.15.2.1
six==1.17.0
sklearn==0.0.post12
sniffio==1.3.1
stack-data==0.6.3
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
svg.path==6.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tf2-geometry-msgs==0.25.8
tf2-kdl==0.25.8
tf2-msgs==0.25.8
tf2-py==0.25.8
tf2-ros-py==0.25.8
threadpoolctl==3.6.0
tifffile==2025.5.10
tomli==2.2.1
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
traitsui==8.0.0
trajectory-msgs==4.2.4
trimesh==4.6.12
typing_extensions==4.14.0
unique-identifier-msgs==2.2.1
urllib3==2.4.0
vhacdx==0.0.8.post2
vision-msgs==4.1.1
vtk==9.4.2
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
xxhash==3.5.0
