absl-py==2.3.0
ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.9.0
actuator-msgs==0.0.1
ament-cmake-test==1.3.11
ament-copyright==0.12.12
ament-cppcheck==0.12.12
ament-cpplint==0.12.12
ament-flake8==0.12.12
ament-index-python==1.4.0
ament-lint==0.12.12
ament-lint-cmake==0.12.12
ament-package==0.14.1
ament-pep257==0.12.12
ament-uncrustify==0.12.12
ament-xmllint==0.12.12
angles==1.15.0
anyio==4.9.0
apptools==5.3.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
autolab-core==1.1.1
autolab-perception==1.0.0
builtin-interfaces==1.2.1
certifi==2025.6.15
charset-normalizer==3.4.2
colorlog==6.9.0
composition-interfaces==1.2.1
configobj==5.0.9
contourpy==1.3.2
control-msgs==4.8.0
controller-manager==2.51.0
controller-manager-msgs==2.51.0
cv-bridge==3.2.1
cvxopt==1.3.2
cycler==0.12.1
Cython==0.29.37
decorator==5.2.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.9.0
dill==0.4.0
domain-coordinator==0.10.0
embreex==2.17.7.post6
envisage==7.0.4
etils==1.12.2
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
exceptiongroup==1.3.0
executing==2.2.0
ffmpeg-python==0.2.0
flatbuffers==25.2.10
fonttools==4.58.4
fsspec==2025.5.1
future==1.0.0
gast==0.6.0
gazebo-msgs==3.9.0
generate-parameter-library-py==0.5.0
geometry-msgs==4.9.0
glfw==2.9.0
google-pasta==0.2.0
gps-msgs==2.1.0
grpcio==1.73.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
image-geometry==3.2.1
imageio==2.37.0
importlib_resources==6.5.2
iniconfig==2.1.0
interactive-markers==2.3.2
ipython==8.37.0
jedi==0.19.2
joblib==1.5.1
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keras==3.10.0
kiwisolver==1.4.8
laser-geometry==2.4.0
launch==1.0.9
launch-param-builder==0.1.1
launch-ros==0.19.9
launch-testing==1.0.9
launch-testing-ros==0.19.9
launch-xml==1.0.9
launch-yaml==1.0.9
lazy_loader==0.4
libclang==18.1.1
lifecycle-msgs==1.2.1
logging-demo==0.20.5
lxml==5.4.0
manifold3d==3.1.1
map-msgs==2.1.0
mapbox_earcut==1.0.3
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mayavi==4.8.3
mdurl==0.1.2
message-filters==4.3.7
ml_dtypes==0.5.1
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
mujoco==3.3.3
multiprocess==0.70.18
namex==0.1.0
nav-msgs==4.9.0
networkx==3.4.2
numpy==1.26.4
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.16.0
osrf-pycommon==2.1.6
packaging==25.0
parso==0.8.4
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pexpect==4.9.0
pillow==11.2.1
pluggy==1.6.0
prompt_toolkit==3.0.51
protobuf==5.29.5
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.29
pycollada==0.9
pyface==8.0.0
pyglet==1.5.31
Pygments==2.19.1
PyOpenGL==3.1.9
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
pyserial==3.5
PySide2==5.15.2.1
pytest==8.4.0
python-dateutil==2.9.0.post0
python-fcl==0.7.0.8
python-qt-binding==1.1.2
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.1
rclpy==3.3.16
rcutils==5.1.6
referencing==0.36.2
requests==2.32.4
resource-retriever==3.1.3
rich==14.0.0
rmw-dds-common==1.6.0
ros-gz-interfaces==0.244.20
ros2action==0.18.12
ros2bag==0.15.14
ros2cli==0.18.12
ros2component==0.18.12
ros2controlcli==2.51.0
ros2doctor==0.18.12
ros2interface==0.18.12
ros2launch==0.19.9
ros2lifecycle==0.18.12
ros2multicast==0.18.12
ros2node==0.18.12
ros2param==0.18.12
ros2pkg==0.18.12
ros2run==0.18.12
ros2service==0.18.12
ros2topic==0.18.12
rosbag2-interfaces==0.15.14
rosbag2-py==0.15.14
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpds-py==0.25.1
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rtree==1.4.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
scripts==3.9.0
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
setproctitle==1.3.6
shape-msgs==4.9.0
shapely==2.1.1
shiboken2==5.15.2.1
six==1.17.0
sklearn==0.0.post12
sniffio==1.3.1
srdfdom==2.0.7
sros2==0.10.6
stack-data==0.6.3
statistics-msgs==1.2.1
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
svg.path==6.3
teleop-twist-keyboard==2.4.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tf2-geometry-msgs==0.25.13
tf2-kdl==0.25.13
tf2-msgs==0.25.13
tf2-py==0.25.13
tf2-ros-py==0.25.13
tf2-sensor-msgs==0.25.13
tf2-tools==0.25.13
threadpoolctl==3.6.0
tifffile==2025.5.10
tomli==2.2.1
topic-monitor==0.20.5
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
traitsui==8.0.0
trajectory-msgs==4.9.0
trimesh==3.23.5
turtlesim==1.4.2
typing_extensions==4.14.0
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
urllib3==2.4.0
vhacdx==0.0.8.post2
vision-msgs==4.1.1
visualization-msgs==4.9.0
vtk==9.4.2
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
xacro==2.0.13
xxhash==3.5.0
zipp==3.23.0
